.header 
	position: relative
	max-width: 1366px
	height: 768px
	padding-top: 40px
	color: rgba(31, 63, 104, 1)
	background: url("/src/assets/images/illustration.svg")
	background-repeat: no-repeat 
	background-position: 100% 100%


@media (max-width: 900px)
	.header
		background-position: 100% 100%
		background-size: 50%

@media (max-width: 600px) 
	.header
		background-position: 100% 100%
		background-size: 70%
